/*main style*/
body {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Verdana', sans-serif;
}
.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*search style*/
.search {
	display: flex;
	align-items: center;

}
.form {
	border: 2px solid #FFDB4D;
	border-radius: 10px;
	background-color: #FFDB4D;
	display: flex;
	align-items: stretch;
	justify-content: center;
}
.search__image {
	width: 80px;
	height: 30px;
	margin: 0 20px;
}

.search__search {
	width: 450px;
	border: none;
	padding: 10px;
	float: left;
	border-radius: 10px;
	background-color: white; 
}

.search__search:hover {
	background-color: #f1f1f1;
}

.search__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #FFDB4D;
	padding: 12px 12px;
	margin-left: 2px;
}

.search__button:hover {
	cursor: pointer;
	background-color: #fad234;
}


.search__span {
	margin: 0 10px;
}


/*error style*/
.error {
	max-width: 1280px;
	margin-left: 120px;
	display: flex;
	flex-direction: column;
}

.error__title {
	font-weight: 500;
	font-size: 22px;
	margin-top: 30px;
}

.error__text {
	font-size: 12px;
	margin: 0 0 30px 0;

}

.link {
	text-decoration: none;
	color: #4169e1;
}

.hover:hover {
	cursor: pointer;
	opacity: 0.6;
}


/*list style*/
.list {
	display: grid;
	grid-auto-rows: auto-fill;
	grid-template-rows: repeat(4, 35px);
	grid-template-columns: 1fr 1fr;
	margin: 0 0 60px 120px;
}

.list img {
	width: 15px;
	height: 15px;
	padding-right: 10px;
}
.list__item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.list__item .link {
	padding-right: 10px;
	font-size: 11px;
}
.list__item_text {
	font-size: 11px;
}


/*footer style*/
.footer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__list {
	width: 615px;
	height: 20px;
	list-style-type: none;
	font-size: 10px;
	padding: 0;
	margin: 0;
	position: fixed;
	bottom: 0;
}
.footer__list li {
	display: inline-block;
	margin-right: 15px;
}
.footer__list a {
	color: gray;
}

/*медиа-запросы*/

@media screen and (max-width: 681px) {
	.search {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.search__image {
		margin: 20px;
	}
	.error {
		margin: 0 20px;
	}
	.error__title {
		font-size: 1rem;
		margin: 20px 0;
		text-align: center;
	}
	.error__text{
		text-align: center;
	}
	.list {
		margin: 20px;
	}

}
@media screen and (max-width: 625px) {
	.page {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
   		align-items: center;
	}
	.form {
		width: 90vw;
	}
	.error {
		align-items: center;
	}
	.error__text{
		text-align: center;
		width: 250px;
	}
	.list {
		width: 200px;
		grid-template-columns: 300px;
		grid-auto-rows: minmax(10px,30px);
		margin: 0 auto;
		justify-items: start;
	}
	.list__item {
		justify-content: center;
	}
	.footer__list {
		width: 70vw;
		position: fixed;
		bottom: 0;
	}

}
/*

.footer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__list {
	width: 615px;
	height: 20px;
	list-style-type: none;
	font-size: 10px;
	padding: 0;
	margin: 0;
	position: fixed;
	bottom: 0;
}
.footer__list li {
	display: inline-block;
	margin-right: 15px;
}
.footer__list a {
	color: gray;
}