.book_card {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px 20px;
	background: #FFFFFF;
	border-radius: 8px;
}

.book_card:hover {
	cursor: pointer;
}

.book_title {
	font-size: 20px;
	font-weight: 700;
}

.book_text {
	font-weight: 400;
	font-size: 16px;
	color:  gray;
}
.book_price {
	font-weight: 700;
	font-size: 24px;
}
.book__button {
	width: 38px;
	height: 38px;
	background: #000;
	border-radius: 8px;
	font-size: 20px;
	color:  #fff;
}
.book__button:disabled {
	background: rgba(0, 0, 0, 0.5);
}
.button__text{
	font-size: 20px;
	color:  #000;
	margin: 0 24px;
	font-weight: 600;
}
