.main{
    position: relative;
    height: auto;
    max-height: 80vh;
	display: flex;
    flex-direction:column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 16px 20px 20px;
	background: #FFFFFF;
    width:100%;
    max-width:300px;
	border-radius: 8px;
	font-weight: 600;
	margin: 50px 20px 0 40px; 
	padding: 20px;
}
.span_text {
    width: 90%;
    font-weight: 700;
	font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.end {
    position: absolute;
    bottom: 25px;
}
.bold {
    font-weight: 700;
}
.butt {
    color: white;
    background-color: black;
    padding: 6px 12px 8px;
    border-radius: 8px;
    margin-right: 10px;
}
