.page__reviews {
	width: 100vw;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	margin-bottom: 30px;
}
.small {
	width: 50vw;
	margin: 50px 0 20px;
}
.book_card1 {
	width: 40vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px 20px;
	background: #FFFFFF;
	border-radius: 8px;
}
.button_right { 
	float: right;
	align-self: flex-end; 
}
.black {
	color: black;
}
.ann__title {
	font-size: 16px;
	font-weight: 700;
	display: block;
	padding-bottom: 16px;
}
.container {
	width: 87vw;
/*	max-width: 1280px;*/
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 0 auto;
	column-gap: 20px;
}